<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net 
      http://dozer.sourceforge.net/schema/beanmapping.xsd">


	<!-- <mapping> 
	<class-a>com.lsn.domain.SourceObject</class-a> 
	<class-b>com.lsn.domain.DestinationObject</class-b> 
		<field> 
		<a>name</a> 
		<b>name</b> </field> 
		<field> 
		<a>address</a> 
		<b>address</b> 
		</field> 
		</mapping> -->


	<mapping>
		<class-a>com.lsn.domain.SourceObject</class-a>
		<class-b>com.lsn.domain.DestinationObject</class-b>
		<field>
			<a>students</a>
			<b>pupils</b>
		</field>
	</mapping>
	 <mapping>
		<class-a>com.lsn.domain.Student</class-a>
		<class-b>com.lsn.domain.StudentVO</class-b>
		<field>
			<a>batch</a>
			<b>batchName</b>
		</field>
		<field>
			<a>address</a>
			<b>homeAddress</b>
		</field>
	</mapping> 
</mappings>
